<div class="tech-btm">
	<h4>Xəbər bülletenimizə abunə olun</h4>
	<p>Texnoloji və digər bloglar... </p>
	<form asp-action="SubscribeMail" asp-controller="NewsLetter" method="post">
		<input type="email" placeholder="Email" required="" name="Mail">
		<input type="submit" value="Abunə olun">
	</form>

</div>