@model IPagedList<Category>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<h1>Kateqoriya listi</h1>
<br />
<table class="table table-bordered">

	<tr>
		<th>#</th>
		<th>Kateqoriya</th>
		<th>Deaktiv et</th>
		<th>Aktiv et</th>
		<th>Redaktə et</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.CategoryID</td>
			<td>@item.CategoryName</td>
			<td>
				<p>
					<a href="/Admin/Category/CategoryDelete/@item.CategoryID" onclick="return confirm('Silmək istədiyinizə əminsiniz ?')" class="btn btn-secondary">Deaktiv et</a>
				</p>
			</td>
			<td><a href="#" class="btn btn-info">Aktiv et</a></td>
			<td><a href="#" class="btn btn-success">Redaktə et</a></td>
		</tr>
	}
</table>
<a href="/Admin/Category/AddCategory" class="btn btn-primary">Yeni kateqoriya</a>
<br />
@Html.PagedListPager(Model, page=>Url.Action("Index", "Category", new { page }))