<div class="row">
	<div class="col-lg-6">
		<div class="widget navy-bg no-padding">
			<div class="p-m">
				<h2 class="m-xs">DASHBOARD</h2>

				<h3 class="font-bold no-margins">
					ASP.NET CORE 5.0
				</h3>
				<small>Admin panel statistics by Kenan.Admin panel statistics by Kenan.Admin panel statistics by Kenan.Admin panel statistics by Kenan.Admin panel statistics by Kenan.Admin panel statistics by Kenan.Admin panel statistics by Kenan.</small>
			</div>
			<div class="flot-chart">
				<div class="flot-chart-content" id="flot-chart1"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="widget lazur-bg no-padding">
			<div class="p-m">
				<h2 class="m-xs">Son Bloq</h2>
				<h3 class="m-xs">@ViewBag.lastBlog</h3>
				<small class="font-bold no-margins">
					Butun bloqlar
				</small>
			</div>
			<div class="flot-chart">
				<div class="flot-chart-content" id="flot-chart2"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="widget yellw-bg no-padding">
			<div class="p-m">
				<h1 class="m-xs">₼ 50,992</h1>

				<h3 class="font-bold no-margins">
					Bloq saytının qazancı
				</h3>
				<small>Promosyonlar, Reklamlar ve digerleri</small>
			</div>
			<div class="flot-chart">
				<div class="flot-chart-content" id="flot-chart3"></div>
			</div>
		</div>
	</div>
</div>
