@model List<Blog>

<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Son 5 Bloq</h4>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th> # </th>
								<th> Başlıq </th>
								<th> Kateqoriya </th>
								<th> Tarix </th>
								<th> Ətraflı </th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.OrderByDescending(x=>x.BlogCreateDate).Take(5))
							{
								<tr>
									<td>
										<img src="@item.BlogImage" class="mr-2" alt="image">
									</td>
									<td>
										@item.BlogTitle
									</td>
									<td>
										<label class="badge badge-gradient-success">@item.Category.CategoryName</label>
									</td>
									<td> @(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy")) </td>
									<td> <a href="/Blog/BlogReadAll/@item.BlogID" class="btn btn-dark">Detallar</a> </td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>