<div class="comment-top">
	<h4>Rəy yazın</h4>
	<div class="comment-bottom">
		<form action="#" method="post">
			<input class="form-control" type="text" name="Name" placeholder="Ad" required="">
			<input class="form-control" type="email" name="Email" placeholder="Email" required="">

			<input class="form-control" type="text" name="Subject" placeholder="Mövzu" required="">

			<textarea class="form-control" name="Message" placeholder="Mesaj..." required=""></textarea>
			<button type="submit" class="btn btn-primary submit">Göndər</button>
		</form>
	</div>
</div>