<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
				<h3>Haqqımızda</h3>
				<p>Bloq – (ing. blog — şəbəkə jurnalı və ya hadisələr gündəliyi) fərdi jurnal olub, informasiyanı, fikirləri, şərhləri və müxtəlif tipli hiper əlaqələri özündə toplayan veb-saytdır.Hazırda bloqlar ən güclü Veb 2.0 və yeni media alətlərindən biri hesab olunur. Bloqçu (blogger) – bloq yaradan insandır. 2002-ci ilin noyabr ayında tanınmış sahibkar Devid Sifri tərəfindən boqlar üçün ilk axtarış sistemi – Technorati yaradıldı...</p>
				<div class="read">
					<a href="/About/Index" class="btn btn-primary read-m">Davamını Oxu</a>
				</div>
			</div>
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">

				@await Component.InvokeAsync("BlogLastThreePost")
				
			</div>
			<!-- subscribe -->
			<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
				<h2>Xəbər bülletenimizə abunə olun</h2>
				@await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")

				<!-- //subscribe -->
			</div>
		</div>
		<!-- footer -->
		<div class="footer-cpy text-center">
			<div class="footer-social">
				<div class="copyrighttop">
					<ul>
						<li class="mx-3">
							<a class="facebook" href="#">
								<i class="fab fa-facebook-f"></i>
								<span>Facebook</span>
							</a>
						</li>
						<li>
							<a class="facebook" href="#">
								<i class="fab fa-twitter"></i>
								<span>Twitter</span>
							</a>
						</li>
						<li class="mx-3">
							<a class="facebook" href="#">
								<i class="fab fa-google-plus-g"></i>
								<span>Google+</span>
							</a>
						</li>
						<li>
							<a class="facebook" href="#">
								<i class="fab fa-pinterest-p"></i>
								<span>Pinterest</span>
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="w3layouts-agile-copyrightbottom">
				<p>
					© @DateTime.Now.Year Weblog. Bütün hüquqlar qorunur | Design by
					<a href="http://w3layouts.com/">Kanan</a>
				</p>

			</div>
		</div>

		<!-- //footer -->


	</div>
</footer>