@{
	Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Error 403</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="~/403-forbidden/dist/style.css">

</head>
<body>
	<!-- partial:index.partial.html -->
	<div class="container">
		<h1>
			4<div class="lock">
				<div class="top"></div><div class="bottom"></div>
			</div>3
		</h1>
		<p>Oops!</p>
		<p>Bu səhifəyə daxil olmaq üçün icazəniz yoxdur!</p>
		<p><a href="/Admin/Index">Go to back</a></p>
	</div>
	<!-- partial -->
	<script src="~/403-forbidden/dist/script.js"></script>

</body>
</html>
