@using CoreDemo.Controllers
@model Class1

@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h1>Isci elave olunmasi</h1>
<form method="post">
    <label>Isci adi soyadi</label>
    <input type="text" asp-for="@Model.Name" class="form-control" />
    <br />
    <button type="submit" class="btn btn-info">Isci elave et</button>
</form>
